<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LinkHubDbEntities" connectionString="metadata=res://*/LinkHubModel.csdl|res://*/LinkHubModel.ssdl|res://*/LinkHubModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GOKUL-PC\SQLEXPRESS;initial catalog=LinkHubDb;persist security info=True;user id=abcd;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>